@use "../../styles/breakpoint" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;

.logo {
  font-size: 2.5rem;
  font-weight: 500;

  @include flex(center, unset);
}

.header {
  height: $header-height;
  background-color: $header-color;
  color: $main-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: height 0.3s ease, background-color 0.3s ease;

  &.shrink {
    height: $header-shrink-height;
  }

  &__wrap {
    @include flex(center, space-between);
    height: 100%;
    padding: 0 2rem;


    @include mobile {
      justify-content: center;
    }
  }

  &__nav {
    @include flex(center, unset);

    li {
      padding: 5px 0;
      margin-left: 2rem;
      font-weight: 700;
      position: relative;
      font-size: 1.5rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        transition: width 0.5s ease;
        height: 2px;
        background-color: $main-color;
      }

      &:hover::after {
        width: 100%;
      }
    }

    @include mobile {
      @include flex(center, space-between);
      position: fixed;
      bottom: 0;
      left: 0;
      height: 3.5rem;
      width: 100%;
      line-height: 100%;
      background-color: $header-color;
      padding: 0 5px;
      box-shadow: $box-shadow;


      li {
        margin-left: 0;
      }
    }
  }
}