@use "../../../styles/variables" as *;
@use "../../../styles/breakpoint" as *;

.avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid gray;
  box-shadow: $box-shadow;
}

.place_image_container {
  border-radius: 10px;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  overflow:hidden;

  @include mobile {
    width: 350px;
    height: 250px;
  }
}