$body-bg: #FFFFFF;
$main-color: #FFFFFF;
$txt-color: #fff;

$white: whitesmoke;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

//$header-height: 4rem;
//$header-shrink-height: 2rem;
$header-color: #1976D2;
$border-radius: 15px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;