@use "../../../styles/_variables.scss" as *;

.places_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  position: relative;
  min-height: 20vh;
  //margin-top: 20px;

  .error-message {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-weight: bold;
    margin-top: 20vh;
  }
}